extends ./layout

append scripts
  script(src="/clipboard-polyfill.js")
append styles
  link(rel="stylesheet" href="/css/font-awesome.min.css")
block content
  .row
    .col-md-4.col-lg-3.d-md-block.d-none
      a.btn.btn-success.btn-block.text-left(href="/dashboard") Dashboard
      a.btn.btn-outline-success.btn-block.text-left(href="/channel") My Channel
    .col-md-8.col-lg-9.col-sm-12
      .card
        .card-body
          div
            a.btn.btn-success(href="/app/create") Create
          if data.apps
            .table-responsive.mt-3
              table.table.table-striped
                thead.bg-success.text-white
                  tr
                    th #
                    th LIFF ID
                    th Type
                    th Target URL
                    th Actions
                tbody
                  each app, i in data.apps
                    tr
                      td.align-middle #{i + 1}
                      td.align-middle #{app.liffId}
                      td.align-middle #{app.view.type}
                      td.align-middle: a(href=app.view.url) #{app.view.url}
                      td.align-middle
                        a.btn.btn-primary.btn-md.mr-1.pt-0.pb-0(onclick="clipboard.writeText('line://app/" + app.liffId + "')", data-toggle="tooltip", data-placement="bottom" title="Copy LIFF URL")
                          i.fa.fa-clipboard
                        a.btn.btn-warning.btn-md.mr-1.pt-0.pb-0(href="/app/" + app.liffId + "/update", data-toggle="tooltip", data-placement="bottom" title="Edit")
                          i.fa.fa-pencil
                        a.btn.btn-danger.btn-md.pt-0.pb-0(href="/app/" + app.liffId + "/delete", onclick="if (!confirm('Are you sure?')) return false", data-toggle="tooltip", data-placement="bottom" title="Delete")
                          i.fa.fa-trash
            p.text-muted.small.text-right URL for your LIFF app is 
              u: em line://app/{LIFF ID}
          else
            p.small.text-muted.mt-3: em You don't have any LIFF apps yet.
