extends ./layout

block content
  .row
    .col-sm-8.offset-sm-2.col-md-6.offset-md-3
      .card
        .card-header Register
        .card-body
          if _err_data
            .alert.alert-danger(role="alert") Error: #{_err_data.error_description}
          p.small.text-muted Get the channel ID and channel secret from your channel (read more: 
            a(href="https://developers.line.biz/en/docs/liff/getting-started") https://developers.line.biz/en/docs/liff/getting-started
            | )
          form(method="POST", id="form-register")
            .form-group
              input.form-control(
                type="text",
                placeholder="Channel ID",
                name="channelID",
                required
              )
            .form-group
              input.form-control(
                type="password",
                placeholder="Channel Secret",
                name="channelSecret",
                required
              )
            .text-right
              button.btn.btn-success Submit
